<!DOCTYPE html>
<html lang="fr"
      data-th-replace="~{layout::layout(contenu=~{::main},titre=~{::title},cssSpecifique='profil')}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier mon profil</title>
</head>
<body>
<main>
    <div class="profil-container">
        <form class="form-container"
              method="post"
              data-th-object="${utilisateur}"
              th:action="@{/mon-profil/modifier(pseudo=${pseudo})}">
            <h1>Mon profil</h1>

            <div class="form-group">
                <label>Pseudo :</label>
                <p class="form-control-plaintext" data-th-text="*{pseudo}"></p>
                <input type="hidden" data-th-field="*{pseudo}"/>
            </div>

            <div class="form-group">
                <label for="inputNom">Nom* :</label>
                <input type="text" class="form-control" id="inputNom" data-th-field="*{nom}" required/>
            </div>

            <div class="form-group">
                <label for="inputPrenom">Prénom* :</label>
                <input type="text" class="form-control" id="inputPrenom" data-th-field="*{prenom}" required/>
            </div>

        <div class="form-group">
            <label for="inputEmail">Email* :</label>
            <input type="email" id="inputEmail" data-th-field="*{email}" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required/>
        </div>

        <div class="form-group">
            <label for="inputTelephone">Téléphone :</label>
            <input type="tel" id="inputTelephone" data-th-field="*{telephone}" pattern="[0][0-9]{10}"/>
        </div>

        <div class="form-group address-group">
            <div>
                <label for="inputAdresse">Adresse* :</label>
                <input type="text" class="form-control" id="inputAdresse" data-th-field="*{adresse.rue}" required/>
            </div>
            <div class="address-row">
                <div>
                    <label for="inputCP">Code postal* :</label>
                    <input type="text" class="form-control" id="inputCP" data-th-field="*{adresse.code_postal}" pattern="[0-9]{5}" required/>
                </div>
                <div>
                    <label for="inputVille" >Ville* :</label>
                    <input type="text" class="form-control" id="inputVille" data-th-field="*{adresse.ville}" required/>
                </div>
            </div>
        </div>

        <div class="button-group">
            <a th:href="@{/mon-profil/modifier-mot-de-passe(pseudo=${#authentication.name})}" class="btn btn-secondary">🔒 Modifier mot de passe</a>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button th:href="@{/mon-profil(pseudo=${#authentication.name})}" class="btn btn-cancel-secondary">Annuler</button>

<!--            AJOUTER DU JS POUR UNE POP UP DE CONFIRMATION AVANT SUPPRESSION-->
            <a href="/supprimer" class="btn btn-cancel">Supprimer mon compte</a>
<!--            ...............................................................-->
        </div>

        </form>
    </div>
</main>

</body>
</html>