<!DOCTYPE html>
<html lang="en" data-th-replace="~{layout::layout(contenu=~{::main},titre=~{::title})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détail d'une vente</title>
</head>
<body>
<header>
    <span>(Logo)</span> Eni-Enchères |
    <a th:href="@{/}">Accueil</a> |
    <a th:href="@{/vendre}">Vendre un aarticle</a> |
    <a th:href="@{/profil}">Mon profil</a> |
    <a th:href="@{/logout}">Se déconnecter</a>
    <div>
        Date du jour : <span th:text="${dateJour}"></span><br/>
        Participant : <span th:text="${participant.pseudo}"></span>
    </div>
</header>

<h2>Détail d'une vente</h2>