<!DOCTYPE html>
<html lang="en"
      data-th-replace="~{layout::layout(contenu=~{::main},titre=~{::title})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mon profil</title>
</head>
<body>
<main>
    <form class="form-container"
          method="post"
          data-th-object="${utilisateur}"
    th:action="@{/mon-profil/modifier(pseudo=${pseudo})}">
        <h1>Mon profil</h1>

        <div class="form-group">
            <label >Pseudo :</label>
            <p data-th-text="*{pseudo}"></p>
            <input type="hidden" data-th-field="*{pseudo}"/>
        </div>

        <div class="form-group">
            <label for="inputNom" >Nom* :</label>
            <input type="text" id="inputNom" data-th-field="*{nom}" required/>
        </div>

        <div class="form-group">
            <label for="inputPrenom">Prénom* :</label>
            <input type="text" id="inputPrenom" data-th-field="*{prenom}" required/>
        </div>

        <div class="form-group">
            <label for="inputEmail">Email* :</label>
            <input type="email" id="inputEmail" data-th-field="*{email}" required/>
        </div>

        <div class="form-group">
            <label for="inputTelephone">Téléphone :</label>
            <input type="tel" id="inputTelephone" data-th-field="*{telephone}"/>
        </div>

        <div class="form-group address-group">
            <div>
                <label for="inputAdresse">Adresse* :</label>
                <input type="text" id="inputAdresse" data-th-field="*{adresse.rue}" required/>
            </div>
            <div class="address-row">
                <div>
                    <label for="inputCP">Code postal* :</label>
                    <input type="text" id="inputCP" data-th-field="*{adresse.code_postal}" required/>
                </div>
                <div>
                    <label for="inputVille" >Ville* :</label>
                    <input type="text" id="inputVille" data-th-field="*{adresse.ville}" required/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label >Credit :</label>
            <p data-th-text="*{credit}"></p>
            <input type="hidden" data-th-field="*{credit}"/>
        </div>

        <div class="button-group">
            <a href="/profil/modifier-mot-de-passe" class="btn btn-secondary">Modifier mot de passe</a>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="/profil" class="btn btn-cancel-secondary">Annuler</a>

<!--            AJOUTER DU JS POUR UNE POP UP DE CONFIRMATION AVANT SUPPRESSION-->
            <a href="/supprimer" class="btn btn-cancel">Supprimer mon compte</a>
<!--            ...............................................................-->
        </div>

    </form>
</main>

</body>
</html>