<!DOCTYPE html>
<html lang="fr"
      data-th-replace="~{layout::layout(contenu=~{::main},titre=~{::title},cssSpecifique='connexion')}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Se connecter</title>
</head>
<main class="connexion-main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="form-container">
                    <form method="post" data-th-object="${utilisateur}" data-th-action="@{/connexion}">
                        <h1 class="text-center mb-4">Se connecter</h1>

                        <div class="mb-3">
                            <label for="inputPseudo" class="form-label">Identifiant :</label>
                            <input type="text" id="inputPseudo" name="username" class="form-control" required/>
                        </div>

                        <div class="mb-3">
                            <label for="inputMdp" class="form-label">Mot de passe :</label>
                            <input type="password" id="inputMdp" name="password" class="form-control" required/>
                        </div>

                        <div class="d-grid gap-2 mb-3">
                            <button type="submit" class="btn btn-primary">Se connecter</button>
                        </div>
                        
                        <div class="text-center mb-3">
                            <a href="/" class="connexion-form__forgot-link">Mot de passe oublié</a>
                        </div>

                        <div class="d-grid">
                            <a href="/creer-compte" class="btn btn-secondary">Créer un compte</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</html>