<!DOCTYPE html>
<html lang="fr"
      data-th-replace="~{layout::layout(contenu=~{::main},titre=~{::title})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>S'inscrire</title>
</head>
<main>
    <form class="form-container" data-th-action="@{/creer-compte}" data-th-object="${utilisateur}" method="post">
        <h1>Inscription</h1>
        
        <div class="form-group">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" data-th-field="*{pseudo}" required>
        </div>

        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" data-th-field="*{mot_de_passe}" required>
        </div>

        <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" data-th-field="*{nom}" required>
        </div>

        <div class="form-group">
            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" data-th-field="*{prenom}" required>
        </div>

        <div class="form-group">
            <label for="inputEmail">Email :</label>
            <input type="email" id="inputEmail" data-th-field="*{email}" required>
        </div>

        <div class="form-group">
            <label for="inputTelephone">Téléphone :</label>
            <input type="tel" id="inputTelephone" data-th-field="*{telephone}">
        </div>

        <div class="form-group address-group">
            <div class="form-group">
                <label for="inputAdresse">Adresse :</label>
                <input type="text" id="inputAdresse" data-th-field="*{adresse.rue}" required>
            </div>
            <div class="address-row">
                <div class="form-group">
                    <label for="inputCP">Code postal :</label>
                    <input type="text" id="inputCP" data-th-field="*{adresse.code_postal}" required>
                </div>
                <div class="form-group">
                    <label for="inputVille">Ville :</label>
                    <input type="text" id="inputVille" data-th-field="*{adresse.ville}" required>
                </div>
            </div>
        </div>

        <div class="button-group">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
            <a href="/connexion" class="btn btn-secondary">Déjà inscrit ?</a>
        </div>
    </form>
</main>
</html>