<!DOCTYPE html>
<html lang="fr"
      data-th-replace="~{layout::layout(contenu=~{::main},titre=~{::title})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des enchères</title>
</head>
<main>
 <section>
     <h2>Filtres :</h2>
     <form method="get" th:action="@{/encheres}">
         <input type="text" name="nom" placeholder="Le nom de l'article contient" th:value="${nom}"> <br><br>
 
         <label for="categorie">Catégorie :</label>
         <select name="categorie" id="categorie">
             <option value="">Toutes</option>
             <option value="">Ameublement</option>
             <option value="">Informatique</option>
             <option value="">Sports&Loisirs</option>
             <option value="">Vêtements</option>
             <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}"></option>
         </select><br><br>
 
         <div>
             <button type="submit">Rechercher</button>
             <a th:href="@{/encheres}"><button type="button">Annuler</button></a>
         </div>
     </form>
 </section>
 
 <section>
     <h2>Liste des enchères</h2>
     <div th:if="${encheres == null or #lists.isEmpty(encheres)}">
         <p>Aucune enchère trouvée.</p>
     </div>
     <div th:each="enchere : ${encheres}">
         <div style="border: 1px solid black; margin: 10px; padding: 10px;">
             <img src="/images/DD_Pic.jpc" alt="Disque Dur" class="nav-logo">
             <h3 th:text="${enchere.nom}">Nom</h3>
             <p>Prix : <span th:text="${enchere.prix}">0</span> point(s)</p>
             <p>Fin de l'enchère : <span th:text="${enchere.dateFin}">01/06/202X</span></p>
             <p>Vendeur : <span th:text="${enchere.vendeur}">vendeur</span></p>
         </div>
     </div>
 </section>

</main>
</html>